[user]
  name  = Connor Glosser
  email = glosser1@gmail.com
[alias]
  br = branch
  ci = commit
  cleanmerge = !find . -name '*.orig' -delete
  co = checkout
  df = diff
  lg = log
  lol= log --oneline --graph
  nuke = !git reset --hard HEAD && git clean -dxf
  st = status
  unstage = checkout --
  yolo = !git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
[color]
  ui = auto
[push]
  default = simple
[pull]
  rebase = false
[diff]
  tool = bc
[difftool]
  prompt = false
[difftool "bc"]
  trustExitCode = true
[merge]
  tool = bc
[mergetool]
  prompt = false
[mergetool "bc"]
  trustExitCode = true
  prompt = false
[init]
  defaultBranch = main
[safe]
	directory = /opt/helix/runtime/grammars/*
[core]
	editor = hx
