[user]
  name  = Connor Glosser
  email = glosser1@gmail.com
[merge]
	tool = bc
[color]
  ui = auto
[alias]
  br = branch
  ci = commit
  cleanmerge = !find . -name '*.orig' -delete
  co = checkout
  df = diff
  lg = log
  lol= log --oneline --graph
  nuke = !git reset --hard HEAD && git clean -dxf
  st = status
  unstage = checkout --
  yolo = !git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
[push]
	default = simple
[pull]
	rebase = false
[mergetool "bc"]
	trustExitCode = true
[diff]
	tool = bcompare
[difftool]
	prompt = false
	bc = trustExitCode
[mergetool]
	bc = trustExitCode
